@font-face {
  font-family: 'assiduous';
  src: url('./assets/AssiduousSmallcaps-lLqX.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'assiduous', monospace;
  font-size: 18px;
}
#root {
  overflow-x: hidden;
}

@keyframes newLevel {
  0% {opacity: 0}
  10% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}
#new-level {
  animation: newLevel 1s linear;
}

@keyframes levelTitle {
  0% {right: -100%}
  25% {right: -5%}
  75% {right: 5%}
  100% {right: 100%}
}
#level-title {
  animation: levelTitle 1s linear;
}
@media (hover : none) {
  .card {
    box-shadow: none !important;
  }
}